return [[
{%
context.title = '首页'
%}
<div class="site-index">

    <div class="jumbotron">
        <h1>恭喜！</h1>
        <p class="lead">您已经成功创建了一个Lua-Resty-Yii应用。</p>
    </div>

    <div class="body-content">

        <div class="row">
            <div class="col-lg-4">
                <h2>快速</h2>
                <p>Lua-Resty-Yii 是在OpenResty的基础上开发的Web框架，具有强大的运行性能。</p>
            </div>
            <div class="col-lg-4">
                <h2>简单</h2>
                <p>Lua-Resty-Yii 是参考PHP的著名开源框架Yii2搭建，使用十分简单易用，易于开发扩展。</p>
            </div>
            <div class="col-lg-4">
                <h2>专业</h2>
                <p>Lua-Resty-Yii 可帮助您开发清洁和可重用的代码。它遵循了 MVC 模式，确保了清晰分离逻辑层和表示层。</p>
            </div>
        </div>

    </div>
</div>
]]